<h1> Director #<%=@id_tag%> </h1>

<a href ="/directors"> Go back </a>

<dl>
<dt> Name </dt>
<dd> <%= Director.where({ :Id => @id_tag }).name %> </dd>
<dt> Name </dt>
<dd> Name </dd>
<dt> Name </dt>
<dd> Name </dd>
<dt> Name </dt>
<dd> Name </dd>

</dl>
<hr>
<h2> Filmography </h2>

<table border = "1"> </table>
