<h1> Youngest Director </h1>

The youngest director in our dataset right now is <a href = "/directors/<%= @youngest_director_id%>"> <%= @youngest_director %> </a>, born on <%= @youngest_director_dob%>.
